<template>
  <div class="container">
    <div class="jumbotron mt-4">
      <h1 class="display-4">Seja bem vindo!</h1>
      <p class="lead">Essa é a nossa aplicação.</p>
      <hr class="my-4">
      <p>Para sua segurança, efetue o logout quando terminar as suas tarefas.</p>
      <button class="btn btn-primary btn-lg" @click="logout">Logout</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home',
  methods: {
    logout () {
      this.$store.commit('deslogar')
    }
  }  
}
</script>
