<template>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <form class="col-6" @submit.prevent="efetuarLogin">

                <h1 class="mt-4 mb-4">Login</h1>

                <div class="form-group">
                    <label>E-mail</label>
                    <input type="email" class="form-control" placeholder="exemplo@exemplo.com.br" v-model="usuario.email" required>
                </div>

                <div class="form-group">
                    <label>Senha</label>
                    <input type="password" class="form-control" v-model="usuario.password" required>
                </div>

                <p class="alert alert-danger" v-if="mensagemErro">{{ mensagemErro }}</p>

                <button class="btn btn-primary btn-block">Login</button>

                <p>Não possui uma conta? Clique <router-link to="/registre-se">aqui</router-link></p>

            </form>   
        </div>
    </div>
</template>

<script>
export default {
  name: 'Login',
  data() {
    return {
      usuario: {
          email: '',
          password: ''
      },
      mensagemErro: null
    }
  },
  methods: {
      efetuarLogin () {
        const proximaRota = this.$router.history.current.query.redirect || '/'
        this.$store.dispatch('login', this.usuario)
          .then(() => this.$router.push(proximaRota))
          .catch(err => {
            if (err.request.status == 401) {
              this.mensagemErro = 'Login ou senha inválido(s) !!!'
            } else {
              this.mensagemErro = 'Falha de comunicação com o servidor. Por favor, tente novamente mais tarde.'
            }
          })
    }
  }
}
</script>
