<template>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="card mt-4">
          <img class="card-img-top" src="../assets/avatar.png" alt="Card image cap">
          <div class="card-body">
            <h1 class="card-title">Perfil</h1>
            <h5 ><strong>Nome:</strong> {{ usuario.name }}</h5>
            <h5><strong>E-mail: </strong>{{ usuario.email }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Perfil',
  data () {
    return {
      usuario: {}
    }
  },
  mounted () {
    this.$http.get(`user?token=${this.$store.getters.token}`)
      .then(res => {
        this.usuario = res.data.user
      })
  }
}
</script>

<style>

</style>