<template>
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <form class="col-6" @submit.prevent="registrar">

          <h1 class="mt-4 mb-4">Novo usuário</h1>

          <p class="alert alert-danger" v-for="erro in erros" v-bind:key="erro">{{ erro[0] }}</p>

          <div class="form-group">
              <label>Nome</label>
              <input type="text" class="form-control" placeholder="Seu nome" v-model="usuario.name" required>
          </div>
          <div class="form-group">
              <label>E-mail</label>
              <input type="email" class="form-control" placeholder="exemplo@exemplo.com.br" v-model="usuario.email" required>
          </div>
          <div class="form-group">
              <label>Senha</label>
              <input type="password" class="form-control" v-model="usuario.password" required>
          </div>

          <button class="btn btn-primary btn-block">Registrar-se</button>

        </form>   
    </div>
  </div>
</template>

<script>
export default {
  name: 'Registrar',
  data () {
    return {
      usuario: {
        nome: '',
        email: '',
        senha: '',
      }, 
      erros: []
    }
  },
  methods: {
    registrar () {
      const payload = { ...this.usuario }
      this.$http.post('register', payload)
        .then(res => {
          this.$store.commit('autenticado', res.data.token)
          this.$router.push('/')
        }).catch(err => {
          this.erros = err.response.data.errors
        })
    }
  }
}
</script>
