<template>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <router-link class="nav-link" exact-active-class="active" to="/">Home</router-link>
    </li>
    <li class="nav-item">
      <router-link class="nav-link" exact-active-class="active" to="/perfil">Perfil</router-link>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link" @click.prevent="logout">Logout</a>
    </li>
  </ul>  
</template>

<script>
export default {
  name: 'BarraNavegacaoQuandoLogado',
  methods: {
    logout () {
      this.$store.commit('deslogar')
    }
  } 
}
</script>
