<template>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <router-link class="nav-link" exact-active-class="active" to="/login">Login</router-link>
    </li>
    <li class="nav-item">
      <router-link class="nav-link" exact-active-class="active" to="/registre-se">Registre-se</router-link>
    </li>
  </ul>
</template>

<script>
export default {

}
</script>

<style>

</style>
