<template>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Adm</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <BarraNavegacaoUsuarioLogado class="navbar-nav mr-auto" v-if="usuarioEstaLogado" />
    <BarraNavegacaoUsuarioDeslogado class="navbar-nav mr-auto" v-else />
    <ul class="navbar-nav" v-show="fazendoRequisicao">
      <li class="nav-item">
        <div class="spinner-grow text-muted"></div>
      </li>
    </ul>
  </div>
</nav>
</template>

<script>
import BarraNavegacaoUsuarioLogado from './BarraNavegacaoUsuarioLogado'
import BarraNavegacaoUsuarioDeslogado from './BarraNavegacaoUsuarioDeslogado'

export default {
  name: 'BarraNavegacao',
  components: {
    BarraNavegacaoUsuarioLogado,
    BarraNavegacaoUsuarioDeslogado
  },
  computed: {
    usuarioEstaLogado: function () {
      return this.$store.getters.usuarioEstaLogado
    },
    fazendoRequisicao: function () {
      return this.$store.getters.fazendoRequisicao
    }
  } 
}
</script>
