<template>
  <div id="app">
    <barra-navegacao/>
    <router-view/>
  </div>
</template>
<script>
import BarraNavegacao from './components/BarraNavegacao'
export default {
  name: 'Inicial',
  components: {
    BarraNavegacao
  }
}
</script>

<style lang="scss" scoped>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  text-align: center;
  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
